.container {
  display: block;
  transition: all .3s ease;
  /* flex: 1; */
  margin-top: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  margin-left: calc(var(--sidebar-width) + 20px);
  align-items: center;
  min-width: 200px;
}

.textbox {
  width: 100%;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0px 0px 4px 0px #000;
  display: grid;
}

.img {
  display: inline-block;
  margin: 10px;
}

.text>pre {
  height: auto;
  font-family: inherit;
  /* width: 100%; */
  white-space: normal;
}

ol {
  list-style-position: inside;
}
.img>img{
  height: 100px;
  width: 100px;

}