

.highlight {
  position: relative;
  /* overflow: hidden; */
  z-index: 1;
}

.highlight::before {
  content: '';
  position: absolute;
  top: 0;
  left: -.8%; /* 从左边开始 */
  width: 0; /* 初始宽度为0 */
  height: 100%;
  background-color: yellow;
  z-index: -1; /* 确保背景在文本下方 */
  animation: highlight-animation 1s forwards;
}

@keyframes highlight-animation {
  0% {
      width: 0; /* 初始宽度为0 */
  }
  100% {
      width: 100.8%; /* 动画结束时宽度为100% */
  }
}