a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style-type: none;
  /* 去掉默认的点 */
}

.sidebar-for-window {
  width: 200px;
  height: 100%;
  position: fixed;
  margin: 10px;
  padding: auto;
  top: 0;
  left: 0;
  background: #f5f5f5;
  z-index: 9999;
  overflow-y: auto;

}

.sidebar-sub-toggle li {
  display: none;
}