.nano {
  overflow: hidden;
}

.nano>.nano-content {
  overflow: auto;
}

.nano>.nano-pane {
  background: #ffffff00;
  width     : 12px;
  height    : 92%;
  top       : 4%;
}

.nano>.nano-pane>.nano-slider {
  background: #555555;
  width     : 10px;
}